@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AMAZONIC";
  src: url("../public/fonts/amazonic.ttf");
}

@font-face {
  font-family: "NATURAL";
  src: url("../public/fonts/natural.ttf");
}

@font-face {
  font-family: "SALMON";
  src: url("../public/fonts/salmon.ttf");
}
